<form>
  <div class="form-group">
    <label for="cto">model</label>
    <textarea class="form-control" id="model" rows="6">namespace org.accordproject.hellogoodbye

transaction Request {
  o String input
}

transaction Response {
  o String output
}

/**
 * The template model
 */
concept Greeting {
  o String greeting
}

@AccordTemplateModel("HelloGoodbye")
concept TemplateModel {
  /**
   * The name for the clause
   */
  o String name
  o Greeting helloworld
  o Greeting goodbye
}</textarea>
  </div>
  <div class="form-group">
    <label for="source">Jura source</label>
    <textarea class="form-control" id="source" rows="8">namespace org.accordproject.hellogoodbye

contract HelloGoodbye over TemplateModel {
   // Simple Clause
   clause hello(request Request) : Response {
       new Response{ output: "Hello " ++ contract.name ++ " (" ++ request.input ++")" }
  }
  clause goodbye(request Request) : Response {
       new Response{ output: "Goodbye " ++ contract.name ++ " (" ++ request.input ++")" }
  }
}
</textarea>
  </div>
  <div class="form-group">
    <label for="contract">Contract data</label>
    <textarea class="form-control" id="contract" rows="3">{
    "$class": "org.accordproject.hellogoodbye.TemplateModel",
    "name": "Fred Blogs",
    "hello": {
	"greeting": "Hello"
    },
    "goodbye": {
	"greeting": "Farewell"
    }
}
</textarea>
  </div>
  <div class="form-group">
    <label for="request">Request data</label>
    <textarea class="form-control" id="request" rows="3">{
    "$class": "org.accordproject.hellogoodbye.Request",
    "input": "Accord Project"
}</textarea>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
	<label for="contractName">Contract name</label>
	<input class="form-control" id="contractName" value="HelloGoodbye"/>
      </div>
      <div class="col">
	<label for="clauseName">Clause name</label>
	<input class="form-control" id="clauseName" value="hello"/>
      </div>
    </div>
  </div>
  <div class="form-group text-right">
    <button type="button"
            onclick="runButton()"
            class="btn btn-primary">run</button>
  </div>
  <div class="form-group">
    <label for="result">result</label>
    <textarea class="form-control" id="result" rows="8"></textarea>
  </div>
</form>
