<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div class="wrapper">
      {% include header.html %}

      <div id="content">
        <div id="articles">
          <div class="article-list">
	    {% include demo.html %}
{% if content and page.author_footer != false %}

	{% include post_footer.html %}

{% endif %}
          </div>
        </div>
      </div>
    </div>
    <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    <!-- Ergo -->
    <script src="{{'/node_modules/@accordproject/ergo-compiler/lib/ergocore.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/@accordproject/ergo-compiler/lib/ergoruntime.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/dist/bundle.js' | prepend: site.baseurl}}"></script>
    <script type="text/javascript">
      showVersion();
    </script>
  </body>
</html>
